/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng(kiểu chữ) */

/* 1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết */

#main {

}

#header {
    width: 100%;
    height: 46px;
    background-color: #000;
}

#slider {

}

#content {

}

#footer {

}
